@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }

  25% {
    width: 100%;
  }

  75% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes inverse-swap-in {
  0% {
    transform: translate(0px, -500px);
  }

  100% {
    transform: translate(0px, 0px);
  }

}

@keyframes swap-in {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}