#particles-js {
  width: 100%;
  height: 100vh;

  max-width: 2560px;
  max-height: 1024px;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  margin: auto;
  z-index: 1;
}

#hero {
  padding: 100px 30px 100px 30px;
  width: 100%;
  height: 100vh;
  max-height: 1024px;
  max-width: 1200px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#heroButton {
  z-index: 2;
  align-self: center;
}

#animatedTextLine {
  width: fit-content;
  display: flex;
  align-items: baseline;
  gap: 1ch;
}

#animatedTextLine>:first-child {
  white-space: nowrap;
}

#animatedText {
  border-right: 5px solid white;
  font-weight: 800;
  overflow: hidden;
  animation: typing 6s steps(22) alternate-reverse infinite,
    cursor 0.7s step-end infinite;
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

#navbar,
footer {
  background-color: var(--menuBG);
  height: 70px;
  width: 100%;
}

.toolBar {
  width: 100%;
  height: 100%;
  padding: 0px 30px;

  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#navbarMenu {
  width: 100vw;
  height: 100vh;
  background-color: #0000008f;

  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;

  display: none;
  justify-content: end;
  flex-direction: column;
  align-items: center;
}

#navbarMenu>li {
  animation: swap-in forwards 0.4s;
}

#navbarMenu>li>button {
  color: white;
  font-weight: 600;
  background-color: var(--cardBG);

  width: 100vw;
  height: 70px;
}

#navbarMenu>li>button:hover,
#navbarMenu>li>button:active {
  border-bottom: 2px solid;
  border-top: 2px solid;
  border-color: var(--textColor);
}

#faviconButton>svg {
  height: 35px;
}

#projects {
  display: flex;
  flex-direction: column;
}

#projects>div {
  text-align: center;
}

#techList {
  background-color: var(--techListBG);
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.30) inset, 1px 2px 3px 0px rgba(0, 0, 0, 0.50) inset;

  width: fit-content;
  max-width: 660px;
  margin: 0 auto;

  padding: 10px 10px;
  gap: 10px;
  border-radius: 8px;

  display: grid;
  justify-content: space-evenly;

  grid-template-columns: repeat(3, 70px);
}


#techList>li {
  height: 80px;
  width: 70px;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;

  background-color: var(--techListCardBG);
  transition: 0.2s;
}

#techList>li:hover {
  transform: scale(1.08);
  cursor: pointer;
}

#techList>li>img {
  width: 100%;
  height: 100%;
}


.softskillCard {
  width: 100%;
  padding: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  background-color: var(--cardBG);
  border-bottom: 3px solid;
  border-color: var(--softSkillBorder) !important;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

#aboutParagraph {
  display: flex;
  flex-direction: column;
  gap: 0.7ch;
}

#aboutParagraph>p {
  font-weight: 300;
}

#contact {
  background-color: var(--contactBG);
  width: 100%;
  padding: 60px 0px;
}

#contact>div {
  color: var(--contactTextColor);
  max-width: 840px;
  margin: 0 auto;


  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

#contact>div>h1 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 800;
  text-align: center;
}

#contact>div>#social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

#contact>div>#social>div {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.animatedElement {
  opacity: 0;
  transform: translateY(100px) scale(0.8);
  transition: 0.2s;
}

.shown {
  opacity: 1;
  transform: translateY(0) scale(1);
}

@media screen and (min-width: 520px) {
  #hero {
    padding: 120px 60px 120px 60px;
  }

  nav,
  footer {
    height: 85px;
  }

  #navbarMenu>li {
    animation: none;
  }

  #navbarMenu>li>button:hover,
  #navbarMenu>li>button:active {
    border-bottom: none;
    border-top: none;
    border-color: var(--textColor);
    color: var(--textHighlight);
  }

  .toolBar {
    padding: 0px 60px;
  }

  nav>.toolBar>#menuButton {
    display: none;
  }

  #navbarMenu {
    width: fit-content;
    height: fit-content;
    gap: 1ch;

    display: flex !important;
    flex-direction: row;

    position: inherit;
    background-color: transparent;
  }

  .cardList {
    gap: 50px;
  }

  #navbarMenu>li>button {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    font-size: 12px;
  }

  .projectCard {
    padding: 16px;
  }

  .projectCard>p {
    max-height: 60px;
  }

  .technologies>li {
    padding: 6px 12px;
    font-size: 14px;
  }

  #techList {
    grid-template-columns: repeat(3, 90px);

    padding: 16px;
    gap: 16px;
  }

  #techList>li {
    height: 100px;
    width: 90px;
  }

  .softskillCard {
    max-height: 150px;
    border-bottom: 5px;
  }

  #contact>div>h1 {
    font-size: 38px;
    line-height: 38px;
  }
}

@media screen and (min-width: 600px) {
  #contact>div>#social {
    flex-direction: row;
  }
}

@media screen and (min-width: 774px) {
  #hero {
    padding: 160px 80px 160px 80px;
  }

  .toolbar {
    padding: 0px 80px;
  }

  nav,
  footer {
    height: 90px;
  }

  #navbarMenu {
    gap: 3ch;
  }

  #navbarMenu>li>button {
    font-size: 16px;
  }

  .cardList {
    gap: 60px;
  }

  .projectCard {
    padding: 20px;
    gap: 9px;
  }

  .projectCard>p {
    max-height: 87px;
  }

  .technologies>li {
    padding: 8px 16px;
    font-size: 16px;
  }

  .softskillCard {
    max-height: 201px;
    gap: 10px;
    border-bottom: 6px solid;
  }

  #techList {
    grid-template-columns: repeat(3, 126px);
    gap: 32px;
    padding: 40px 40px;
  }

  #techList>li {
    height: 140px;
    width: 126px;
    padding: 18px;
  }

  #contact>div>h1 {
    font-size: 44px;
    line-height: 44px;
  }
}